@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'sans-serif';
}
body{
  background-image: url(./images/download.jpg);
  background-repeat: no-repeat;
  background-size: 100%
}
#primary-form{
  margin: 10% 40%;
}
.item{
  color: rgb(161, 161, 161);
  margin-top: 0.5rem;
  padding: 0.5rem
}
.button{
  color: rgb(161, 161, 161);
}